# Dependencies
node_modules/

# Environment
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
cypress.env.json

# Testing
coverage

# Build Outputs
.next/
out/
build/
dist/
dist-ssr/

# Debug & Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE and Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
.turbo

# Misc
.DS_Store
*.pem
.vercel